# Compiled Binaries and Objects
*.exe
*.o
*.out
*.app
build/
output/
bin/

# configuration data 
data/

# dokumentation
docs/

# IDE Specific (VS Code) 
.vscode/
*.code-workspace

# OS Specific
Thumbs.db
.DS_Store
desktop.ini
